

<div ui-view class="section-main">
    
</div>
<div class="section-nav">
    <nav class="">
        <ul class="nav nav-navigation">
        <li ui-sref='.shouye' class="active">网站首页</li>
        <li ui-sref='.wenzhang'>文章链接</li>
        <li ui-sref='.jianjie'>个人简介</li>
        </ul>
        <span class="nav-span"></span>
    </nav>
</div>
<div class="section-tags">
    <div class="section-tag">
        <ul class="nav">
            <li class="active">标签</li>
        </ul>
    </div>
    <div class="section-hot">
        <ul class="nav">
            <li class="active">热门文章</li>
        </ul>
    </div>
</div>