<section data-ng-controller="ArticleController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>编辑文章</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.article.title.$invalid}">
					<label class="control-label" for="title">标题</label>
					<div class="controls">
						<input name="article.title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && articleForm.article.title.$invalid" class="help-block">
						<p ng-show="articleForm.article.title.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="type">类别</label>
					<div class="controls">
						<select name="article.type" id="type" data-ng-options="value._id as value.content for value in types" data-ng-model="article.type" class="form-control">
							<option value>默认</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="about">简介</label>
					<div class="controls">
						<textarea name="article.about" data-ng-model="article.about" id="about" class="form-control" cols="30" rows="5" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="content">内容</label>
					<div class="controls">
						<textarea name="article.content" data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && articleForm.article.content.$invalid" class="help-block">
						<p ng-show="articleForm.article.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="修改" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
