<section data-ng-controller="TypeController" data-ng-init="find()">
    <div class="page-header">
        <h1>文章类别列表</h1>
    </div>
    <div class="list-group">
        <ul class="list-unstyled">
            <li data-ng-repeat="type in types" class="list-group-item clearfix">
                <div class="pull-right" data-ng-show="authentication.user._id == type.user._id">
                    <a class="btn btn-primary" href="/manage/type/edit/{{type._id}}">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="remove(type);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <div class="pull-left">
                    <small>
                        <em class="text-muted">
                            创建
                            <span data-ng-bind="type.created | date:'mediumDate'"></span>
                            于
                            <span data-ng-bind="type.user.username"></span>
                        </em>
                    </small>

                    <a style="display: block;" data-ng-bind="type.content" data-ng-href="/manage/type/edit/{{type._id}}">
                    </a>
                </div>

            </li>
        </ul>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="types.$resolved && !types.length">
        No types yet, why don't you <a href="/manage/type/add">create one</a>?
    </div>
</section>
