<div section-name='wenzhang' class="section-view view-active">
    <div data-ng-controller="DetailController" class="wenzhang_detail">
        <h2>这是第一篇文章</h2>

        <div class="other detail_ather">
            <span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>2015-3-5
            </span>

            <span class="share" title="分享">分享<img src="modules/boke/img/boke/iconfont-fenxiang.svg" alt=""/></span>
        </div>
        <div class="hr"></div>
        <article>
            sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdsdfsdfsdfsdfsdfsdfsdfsdfsdfsd
            fsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfs
            dfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf
            sdfsdfsdfsdfsdfsdfsdfsdff
        </article>
    </div>
    <div data-ng-controller="DetailController" class="wenzhang_detail">

        <div class="detail_comment">
            <span class="title">评论</span>
            <ul class="content">
                <li>
                    <div class="visitor">
                        <span>水电费水电费</span>
                        <span class="rt">2015-2-5</span>
                    </div>
                    <p class="comment">说的有道理</p>
                </li>

                <li>
                    <div class="visitor">
                        <span>了解了水电费</span>
                        <span class="rt">2015-2-5</span>
                    </div>
                    <p class="comment">水电费水电费上的发生的发生的发生的</p>
                </li>
            </ul>
        </div>
        <div class="publish_comment">
            <span class="title">发表评论</span>

            <div class="pen">
                <textarea placeholder="评论的内容"></textarea>
            </div>
            <div class="pen">
                <input type="text" placeholder="笔名"/>
            </div>
            <div class="pen">
                <input type="submit" value="发表"/>
            </div>
        </div>
    </div>
</div>
