<div section-name='jianjie' class="section-view view-active">
    <div class="introduce">
        <h3>个人简介</h3>

        <div class="hr"></div>
        <ul>
            <li>
                <strong>姓名:</strong>
                <span>王俊凯</span>
            </li>
            <li>
                <strong>性别:</strong>
                <span>男</span>
            </li>
            <li>
                <strong>生日:</strong>
                <span>1993-02-07</span>
            </li>
            <li>
                <strong>籍贯:</strong>
                <span>山西</span>
            </li>
            <li>
                <strong>QQ:</strong>
                <span>761731823</span>
            </li>

            <li>
                <strong>邮箱:</strong>
                <span>yuyun_jk@163.com</span>
            </li>
            <li>
                <div class="github">
                    <img src="https://github.com/favicon.ico" alt="GitHub" width="16" height="16" style="margin-bottom: -3px;" />
                    <a href="https://github.com/wangjunkai" target="_blank">https://github.com/wangjunkai</a>
                </div>
            </li>
        </ul>
    </div>
</div>
