<div section-name='wenzhang' class="section-view view-active">
    <div data-ng-controller="SearchController" data-ng-init="find()">
        <div class="lianjie_title">
            <p class="search_title">
                筛选的条件为
                <span class="search_code"> "{{keywords}}"</span>
                ,筛选的结果为
                <span class="search_code"> "{{articles.length}}条"</span>
            </p>
        </div>
        <div class="lianjie_list">
            <ul>
                <li data-ng-repeat="article in articles">
                    <h3><a ui-sref='wenzhang-detail({articleId:article._id})'
                           data-ng-href="#/wenzhang/{{article._id}}">{{article.title}}</a></h3>

                    <div class="other rt">
				<span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>
                    {{article.created | date:'yyyy-MM-dd hh:mm'}}
                </span>
                        <span>阅读量:{{article.readNum?article.readNum:0}}</span>
				<span class="comment section-a" title="评论">
					<a href="">
                        <img src="modules/boke/img/boke/iconfont-pinglun.svg" alt=""/>4545
                    </a>
				</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
