<div section-name='shouye' class="section-view view-active">
	<ul class="section-view-list">
		<li>
			<h3><a ui-sref='wenzhang-detail({id:id})' data-ng-href="#/wenzhang/{{id}}">这是第一篇文章</a></h3>
			<img src="modules/boke/img/brand/logo.png" alt=""/>
			<p>睡觉了几点结束连接释放睡懒觉都快疯了事件点击是上的发生是发生发生的是发生发生的发生的发水
				睡觉了几点结束连接释放睡懒觉都快疯了事件点击是上的发生是发生发生的是发生发生的发生的发水电费舒服是冯绍峰上的发生地方
				睡觉了几点结束连接释放睡懒觉都快疯了事件点击是上的发生是发生发生的是发生发生的发生的发水电费舒服是冯绍峰上的发生地方
				睡觉了几点结束连接释放睡懒觉都快疯了事件点击是上的发生是发生发生的是发生sdfsdfsdfsdfqwe发生的发生的发水电费舒服是冯绍峰上的发生地方
				vasdasdasdasdasd电费舒服是冯绍峰上的发生地方</p>
			<div class="other">
				<span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>2015-3-5</span>
				<span>阅读量:1234</span>
				<span class="comment section-a" title="评论">
					<a href="">
						<img src="modules/boke/img/boke/iconfont-pinglun.svg" alt=""/>4545
					</a>
				</span>
				<span class="share" title="分享"><img src="modules/boke/img/boke/iconfont-fenxiang.svg" alt=""/></span>
			</div>
		</li>
		<li>
			<h3>这是第一篇文章</h3>
			<img src="modules/boke/img/loaders/loader.gif" alt=""/>
			<p>睡觉了几点结束连接释放睡懒觉都快疯了事件点击是上的发生是发生发生的是发生发生的发生的发水电费舒服是冯绍峰上的发生地方</p>

			<div class="other">
				<span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>2015-3-5</span>
				<span>阅读量:1234</span>
				<span class="comment section-a" title="评论">
					<a href="">
						<img src="modules/boke/img/boke/iconfont-pinglun.svg" alt=""/>4545
					</a>
				</span>
				<span class="share" title="分享"><img src="modules/boke/img/boke/iconfont-fenxiang.svg" alt=""/></span>
			</div>
		</li>
		<li>
			<h3>这是第一篇文章</h3>
			<img src="modules/boke/img/loaders/loader.gif" alt=""/>
			<p>睡觉了几点结束连接释放睡懒觉都快疯了事件点击是上的发生是发生发生的是发生发生的发生的发水电费舒服是冯绍峰上的发生地方</p>

			<div class="other">
				<span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>2015-3-5</span>
				<span>阅读量:1234</span>
				<span class="comment section-a" title="评论">
					<a href="">
						<img src="modules/boke/img/boke/iconfont-pinglun.svg" alt=""/>4545
					</a>
				</span>
				<span class="share" title="分享"><img src="modules/boke/img/boke/iconfont-fenxiang.svg" alt=""/></span>
			</div>
		</li>
	</ul>
</div>
