<div section-name='shouye' class="section-view view-active">
    <ul class="section-view-list" data-ng-controller="ArticleController" data-ng-init="find()">
        <li data-ng-repeat="article in articles">
            <h3><a ui-sref='wenzhang-detail({articleId:article._id})'
                   data-ng-href="#/wenzhang/{{article._id}}">{{article.title}}</a></h3>
            <img src="modules/boke/img/brand/logo.png" alt=""/>

            <p>{{article.about}}</p>

            <div class="other">
				<span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>
                    {{article.created | date:'yyyy-MM-dd hh:mm'}}
                </span>
                <span>阅读量:{{article.readNum?article.readNum:0}}</span>
				<span class="comment section-a" title="评论">
					<a href="">
                        <img src="modules/boke/img/boke/iconfont-pinglun.svg" alt=""/>4545
                    </a>
				</span>
                <span class="share" title="分享"><img src="modules/boke/img/boke/iconfont-fenxiang.svg" alt=""/></span>
            </div>
        </li>
    </ul>

    <div class="no_comment" data-ng-show="articles.length<=0">
        博主正在开发本站中 o_O
    </div>
</div>
