<div section-name='wenzhang' class="section-view view-active">
    <div class="lianjie_title">
        <ul>
            <li>

                <div class="main-select">
                    <a href="" class="more-select">
                        <strong>2015</strong>
                        <span></span>
                    </a>

                    <div class="select-list">
                        <ul>
                            <li>2015</li>
                            <li>2014</li>
                            <li>2013</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>

                <div class="main-select">
                    <a href="" class="more-select">
                        <strong>5月</strong>
                        <span></span>
                    </a>

                    <div class="select-list">
                        <ul>
                            <li>5月</li>
                            <li>4月</li>
                            <li>3月</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>

                <div class="main-select">
                    <a href="" class="more-select">
                        <strong>JavaScript</strong>
                        <span></span>
                    </a>

                    <div class="select-list">
                        <ul>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>日常</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="lianjie_list">
        <ul data-ng-controller="ArticleController" data-ng-init="find()">
            <li data-ng-repeat="article in articles">
                <h3><a ui-sref='wenzhang-detail({articleId:article._id})'
                       data-ng-href="#/wenzhang/{{article._id}}">{{article.title}}</a></h3>

                <div class="other rt">
				<span class="publish">
					<img src="modules/boke/img/boke/iconfont-iconriqishijian.svg" alt=""/>
                    {{article.created | date:'yyyy-MM-dd hh:mm'}}
                </span>
                    <span>阅读量:{{article.readNum?article.readNum:0}}</span>
				<span class="comment section-a" title="评论">
					<a href="">
                        <img src="modules/boke/img/boke/iconfont-pinglun.svg" alt=""/>
                        {{article.commentCount}}
                    </a>
				</span>
                </div>
            </li>
        </ul>
    </div>
</div>
