@import "compass/reset";
@import "compass/css3";

body, header, section, footer, p, div, span, ul, li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1600px) {
  .main-left {
    width: 100% !important;
  }

  .main-right {
    width: 0 !important;
  }

  .header, .footer {
    width: 100% !important;
  }
}

@media screen and (max-width: 900px) {
  .section-main {
    width: 80% !important;
    float: right !important;
    margin-right: 10px !important;
  }
  .section-tags {
    display: none !important;
  }
  .header-search {
    right: 50px !important;
  }
}

@media screen {
  .main-left {
    width: 100%;
  }

  .main-right {
    width: 0;
  }

}

body {
  background: #f1f1f1;
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
}

input, button, textarea {
  outline: none;
}

section {
  position: relative;
  width: 100%;
  margin: 20px 20px 20px 0;
}

nav {
  position: fixed;
  left: 50px;
  margin-top: 70px;
}

.inblock {
  display: inline-block;
}

.main-left {
  width: 80%;
  float: left;
  position: relative;
}

.main-right {
  width: 20%;
  background: #4da5e4;
  position: fixed;
  height: 100%;
  right: 0;
}

.header-main {
  @include animation(header-init-animations .5s ease-out);
  height: 75px;
}

.header {
  @include animation(header-init-animations .5s ease-out);
  @include background(linear-gradient(top, #FDFDFD, #ECECEC));
  border-top: 3px solid #65ADDF;
  border-bottom: 1px solid #D3D3D3;
  position: fixed;
  width: 80%;
  overflow: hidden;
  padding-left: 50px;
  height: 75px;
  top: 0;
  z-index: 1000;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.header-init {
  margin-top: -35px;
  > div {
    display: inline-block;
    line-height: 70px;
    font-weight: bold;
  }
}

.header-scroll {
  margin-top: -15px;
  display: none;
  > span {
    line-height: 30px;
    font-size: 22px;
  }
}

.footer {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #DADADA;
  border-bottom: 3px solid #81BBE3;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #A8A8A8;
  background: #F6F6F6;
  > div {
    float: left;
    padding-left: 50px;
  }
  a {
    color: #81BBE3;
    &:hover {
      text-decoration: dashed;
    }
  }
}

.h35 {
  @include opacity(0.8);
  height: 35px;
  @include animation(header-scroll-animations .5s ease-out);

}

.h75 {
  @include opacity(1);
  height: 75px;
  @include animation(header-init-animations .5s ease-out);
}

@include keyframes(header-init-animations) {
  0% {
    height: 0
  }
  100% {
    height: 75px
  }
}

@include keyframes(header-scroll-animations) {
  0% {
    height: 0
  }
  100% {
    height: 35px
  }
}

.j {
  font-size: 60px;
  @include transform(rotate(-20deg));
  display: inline-block;
}

.k {
  font-size: 50px;
  @include transform(rotate(-7deg));
  @include animation(k-animations .8s ease-out .5s);
  display: inline-block;
  &:hover {
    @include animation(k-hover-animations .8s ease-out);
  }
}

@include keyframes(k-animations) {
  0% {
    @include transform(rotate(0deg))
  }
  20% {
    @include transform(rotate(20deg))
  }
  40% {
    @include transform(rotate(-3deg))
  }
  60% {
    @include transform(rotate(20deg))
  }
  80% {
    @include transform(rotate(-5deg))
  }
  100% {
    @include transform(rotate(-7deg))
  }
}

@include keyframes(k-hover-animations) {
  0% {
    @include transform(rotate(0deg))
  }
  20% {
    @include transform(rotate(20deg))
  }
  40% {
    @include transform(rotate(-3deg))
  }
  60% {
    @include transform(rotate(20deg))
  }
  80% {
    @include transform(rotate(-5deg))
  }
  100% {
    @include transform(rotate(-7deg))
  }
}

.header-title {
  @include transition(color .3s ease);
  font-size: 12px;
  margin-left: 30px;
  color: #000000;
  &:hover {
    @include transition(color .3s ease);
    color: #65ADDF;
  }
}

.vertify {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.header-search {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 60%;
  input[type=text] {
    @include transition(border-color, width .3s ease-in);
    @include border-radius(14px);
    border: 1px solid #f1f1f1;
    width: 200px;
    height: 23px;
    display: inline-block;
    text-indent: 15px;
    &:hover {
      @include transition(border-color .3s ease-in .1s);
      border: 1px solid #65ADDF;
    }
    &:focus {
      @include transition(width .3s ease-in .1s);
      width: 250px;
      border: 1px solid #65ADDF;
    }
  }
  button {
    @include border-radius(3px);
    border: 1px solid #65ADDF;
    background: #ffffff;
    width: 30px;
    height: 20px;
    line-height: 20px;
  }
}

.nav {
  border-left: 1px solid #65ADDF;
  padding: 0;
  li {
    margin: 0 0 12px 0;
    padding: 0 0 10px 13px;
    border-left: 3px solid #F1F1F1;
    font-size: 16px;
    cursor: pointer;
  }
  li.active {
    border-left: 3px solid #65ADDF;
  }
}

.nav-main-fix {
  position: fixed;
  top: 85px;
  left: 50px;
}

.mt35 {
  margin-top: 35px;
  @include animation(nav-scroll-animations .5s ease-out);
}

.mt75 {
  margin-top: 75px;
  @include animation(nav-init-animations .5s ease-out);
}

@include keyframes(nav-init-animations) {
  0% {
    margin-top: 0
  }
  100% {
    margin-top: 75px
  }
}

@include keyframes(nav-scroll-animations) {
  0% {
    margin-top: 0
  }
  100% {
    margin-top: 35px
  }
}

.section-main {
  margin-left: 150px;
  margin-right: 370px;
  .section-view.view-active {
    min-height: 900px;
    visibility: hidden;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    position: relative;
    @include box-shadow(0px 1px 3px rgb(184, 184, 184));
    background: #FAFAFA;
  }
  > div {
    overflow: hidden;
    position: relative;
  }
  .section-a {
    @include transition(color .5s ease);
    color: #CDCDCD;
    &:hover {
      @include transition(color .3s ease);
      color: #65ADDF;
      text-decoration: underline;
    }
  }
  .section-view-list {
    padding: 10px;
    > li {
      border-bottom: 1px solid #D5D5D5;
      padding-bottom: 6px;
      margin-bottom: 20px;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      > h3 {
        padding-bottom: 10px;
        @include transition(color .5s ease);
        color: #000000;
        &:hover {
          @include transition(color .3s ease);
          color: #65ADDF;
        }
      }
      > img {
        width: 90px;
        height: 90px;
        margin-right: 10px;
        border: 1px solid #D5D5D5;
        padding: 2px;
        background: #FAFAFA;
        position: absolute;
      }
      > p {
        color: #888888;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 1.5;
        font-weight: 100;
        white-space: normal;
        word-break: break-all;
        padding-left: 105px;
        min-height: 96px;
        display: inline-block;
        margin-bottom: 10px;
      }
      .other {
        font-size: 12px;
        color: #CDCDCD;
        font-family: monospace;
        .comment, .publish, .read, .share {
          margin-right: 3px;
          img {
            width: 14px;
            height: 14px;
            vertical-align: top;
            margin-right: 3px;
          }
        }
        .share {
          float: right;
          margin-right: 10px;
          cursor: pointer;
          display: none;
        }
        &:hover .share {
          display: inline-block;
        }
      }
    }
  }
}

.section-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 500px;
}

.section-tags {
  position: absolute;
  min-width: 350px;
  top: 0;
  right: 0;
  .section-tag, .section-hot {
    margin: 10px;
  }
}

.nav-span {
  min-height: 26px;
  width: 3px;
  background: #65ADDF;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 1px;
}

.bg-1, .bg-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-1 {
  background: url("../img/boke/bg-clouds.png");
}

.bg-2 {
  background: url("../img/boke/balloon.png") no-repeat;
  background-position-y: 85%;
}

.main-select {
  position: absolute;
  .select-list {
    position: absolute;
    overflow: hidden;
    height: 0;
    top: 20px;
    @include transition(height .3s ease-in);
    > ul {
      border: 1px solid #C0C0C0;
      @include border-radius(2px);
      width: 110px;
      padding-top: 2px;
      background: #FAFAFA;
      > li {
        padding: 3px 6px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
          background: #EDEDED;
        }
      }
    }
  }
  &:hover {
    .select-list {
      height: 250px;
    }
    .more-select > span {
      &:after {
        @include transform(rotate(180deg));
        top: 2px;
      }
    }
  }
}

.more-select {
  border: 1px solid #C0C0C0;
  padding: 3px 28px 3px 6px;
  background: #FFFEFE;
  @include box-shadow(inset 1px 1px 2px #EAEAEA);
  font-size: 12px;
  @include border-radius(2px);
  height: 13px;
  width: 74px;
  position: absolute;
  > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 19px;
    background: #D3D3D3;
    &:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 6px;
      border-width: 5px;
      border-color: #fff transparent transparent;
      border-style: solid;
      @include transition(all .3s ease-in);
    }
  }
}

.lianjie_title {
  height: 40px;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  > ul {
    > li {
      float: left;
      width: 120px;
      height: 20px;
    }
  }
}

.lianjie_list {
  > ul {
    padding: 20px 10px;
    > li {
      border-bottom: 1px dotted #D5D5D5;
      padding-bottom: 6px;
      margin-bottom: 20px;
      > h3 {
        @include transition(color .5s ease);
        color: #000;
        font-size: 14px;
        display: inline-block;
        &:hover {
          @include transition(color .3s ease);
          color: #65ADDF;
        }
      }

    }
  }
}

.other {
  font-size: 12px;
  color: #CDCDCD;
  font-family: monospace;
  .comment, .publish, .read, .share {
    margin-right: 3px;
    img {
      width: 14px;
      height: 14px;
      vertical-align: top;
      margin-right: 3px;
    }
  }
  .share {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    display: none;
  }
  &:hover .share {
    display: inline-block;
  }
}

article {
  color: #8B8B8B;
  word-break: break-all;
  line-height: 1.5;
  min-height: 350px;
}

.hr {
  height: 0;
  border-top: 1px solid #D3D3D3;
  margin: 5px 0 15px 0;
}

.lf {
  float: left;
}

.rt {
  float: right;
}

.wenzhang_detail {
  margin: 15px;
  h2 {
    text-align: center;
  }
  .detail_ather {
    float: initial;
    margin: 10px 0;
    .share {
      float: initial;
      display: inline;
    }
  }
  .detail_comment {
    margin: 5px 0 40px 0;
    .title {
      padding: 0 0 2px 3px;
      border-left: 2px solid #65ADDF;
      font-size: 14px;
      color: #B6B6B6;
    }
    .content {
      li {
        margin: 15px 3px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #d3d3d3;
        .visitor {
          padding: 0 0 5px 0;
          font-size: 12px;
          color: #CACACA;
          font-family: monospace;
          &:after {
            content: '';
            display: block;
            clear: both;
          }
        }
        .comment {
          word-break: break-all;
          text-indent: .8em;
          font-size: 12px;
          color: #888;
          font-family: cursive;
        }
      }
    }
  }
  .publish_comment {
    input[type=text], textarea, input[type=submit] {
      @include border-radius(2px);
      border: 1px solid #cfcfcf;
      resize: none
    }
    margin: 5px 0 40px 0;
    .title {
      padding: 0 0 2px 3px;
      border-left: 2px solid #65ADDF;
      font-size: 14px;
      color: #B6B6B6;
    }
    .pen, .content {
      font-size: 12px;
      margin: 15px 3px;
      color: #323232;
      textarea {
        width: 310px;
        height: 50px;
      }
      input[type=text] {
        height: 20px;
        line-height: 20px;
      }
      input[type=submit] {
        width: 60px;
        height: 20px;
        background: #ffffff;
        @include transition(background .5s ease);
        cursor: pointer;
        &:hover{
          background: #e6e6e6;
        }
      }
    }
  }
}
