<!DOCTYPE html>
<html>
<head lang="en">

    <title>前端技术博客</title>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="np1oXrFvMZ"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="keywords" content="MongoDB, Express, AngularJS, Node.js,前端,js,html,css">
    <meta name="description" content="王俊凯个人前端技术博客，个人生活日志">

    <!-- Fav Icon -->
    <link href="/modules/boke/img/brand/boke-favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="ng-cloak">
<div class="main-left">
    <div class="mt75">
        <header class="header">
            <div class="header-init vertify">
                <div>
                    <span class="j"> J </span>
                    <span class="k"> K </span>
                </div>
                <p class="header-title inblock">关注最新前端技术 小生一o_O !</p>
            </div>
            <div class="header-scroll vertify">
                <span> JK </span>

                <p class="header-title inblock">关注最新前端技术 小生一o_O !</p>
            </div>
            <div class="header-search inblock" data-ng-controller="SearchController">
                <input type="text" data-ng-keyup="keyenter($event)" placeholder="输入..."/>
            </div>
        </header>
    </div>
    <section data-ui-view=''>
        <div class="section-main">
            <div ui-view='shouye'></div>
            <div ui-view='wenzhang'></div>
            <div ui-view='jianjie'></div>
        </div>
        <div class="section-nav">
            <nav class="">
                <ul class="nav nav-navigation">
                    <li section-name='shouye' ui-sref='shouye' class="active">网站首页</li>
                    <li section-name='wenzhang' ui-sref='wenzhang'>文章链接</li>
                    <li section-name='jianjie' ui-sref='jianjie'>个人简介</li>
                </ul>
                <span class="nav-span"></span>
            </nav>
        </div>
        <div class="section-tags">
            <div class="section-tag">
                <ul class="nav">
                    <li class="active">标签</li>
                </ul>
                <div class="tag-detail">
                    <a href="">Html5</a>
                    <a href="">JS</a>
                    <a href="">Css</a>
                    <a href="">NodeJs</a>
                    <a href="">AngularJs</a>
                    <a href="">日常</a>
                    <a href="">NodeJs</a>
                    <a href="">AngularJs</a>
                    <a href="">Html5</a>
                    <a href="">ES5</a>
                    <a href="">Css3</a>
                    <a href="">Html</a>
                    <a href="">Mongose</a>
                    <a href="">Express</a>
                    <a href="">MEAN</a>
                    <a href="">前端</a>
                    <a href="">Html5</a>
                    <a href="">ES6</a>
                    <a href="">Css</a>
                    <a href="">NodeJs</a>
                    <a href="">Css</a>
                </div>
            </div>
            <div class="section-hot">
                <ul class="nav">
                    <li class="active">热门文章</li>
                </ul>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div>
            <a href="http://www.yuyun.me" target="_blank">王俊凯的个人博客</a> @2015
        </div>
        <div class="github">
            <img src="https://github.com/favicon.ico" alt="GitHub" width="16" height="16" style="margin-bottom: -3px;"/>
            <a href="https://github.com/wangjunkai" target="_blank">https://github.com/wangjunkai</a>
        </div>
    </footer>
</div>
<div class="main-right">
    <div class="bg-1"></div>
    <div class="bg-2"></div>
</div>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}


</body>
</html>
