@charset "UTF-8";
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main.scss */
body, header, section, footer, p, div, span, ul, li {
  box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
  /* line 9, ../sass/main.scss */
  .main-left {
    width: 100% !important;
  }

  /* line 13, ../sass/main.scss */
  .main-right {
    width: 0 !important;
  }

  /* line 17, ../sass/main.scss */
  .header, .footer {
    width: 100% !important;
  }
}
@media screen and (max-width: 900px) {
  /* line 23, ../sass/main.scss */
  .section-main {
    width: 80% !important;
    float: right !important;
    margin-right: 10px !important;
  }

  /* line 28, ../sass/main.scss */
  .section-tags {
    display: none !important;
  }

  /* line 31, ../sass/main.scss */
  .header-search {
    right: 50px !important;
  }
}
@media screen {
  /* line 37, ../sass/main.scss */
  .main-left {
    width: 100%;
  }

  /* line 41, ../sass/main.scss */
  .main-right {
    width: 0;
  }
}
/* line 47, ../sass/main.scss */
body {
  background: #e7e7e7;
  text-shadow: 1px 1px 1px #fff;
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "微软雅黑", "cursive", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
}

/* line 53, ../sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 58, ../sass/main.scss */
pre {
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  text-shadow: 0px 0px 0px;
}

/* line 71, ../sass/main.scss */
input, button, textarea {
  outline: none;
}

/* line 75, ../sass/main.scss */
section {
  position: relative;
  width: 100%;
  margin: 20px 20px 20px 0;
  min-height: 900px;
}

/* line 82, ../sass/main.scss */
nav {
  position: fixed;
  left: 50px;
  margin-top: 70px;
}

/* line 88, ../sass/main.scss */
.inblock {
  display: inline-block;
}

/* line 92, ../sass/main.scss */
.main-left {
  width: 80%;
  float: left;
  position: relative;
}

/* line 98, ../sass/main.scss */
.main-right {
  width: 20%;
  background: #4da5e4;
  position: fixed;
  height: 100%;
  right: 0;
}

/* line 106, ../sass/main.scss */
.header-main {
  -moz-animation: header-init-animations 0.5s ease-out;
  -webkit-animation: header-init-animations 0.5s ease-out;
  animation: header-init-animations 0.5s ease-out;
  height: 75px;
}

/* line 111, ../sass/main.scss */
.header {
  -moz-animation: header-init-animations 0.5s ease-out;
  -webkit-animation: header-init-animations 0.5s ease-out;
  animation: header-init-animations 0.5s ease-out;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #e5e5e5));
  background: -moz-linear-gradient(top, #fcfcfc, #e5e5e5);
  background: -webkit-linear-gradient(top, #fcfcfc, #e5e5e5);
  background: linear-gradient(to bottom, #fcfcfc, #e5e5e5);
  border-top: 3px solid #65ADDF;
  border-bottom: 1px solid #C8C8C8;
  position: fixed;
  width: 80%;
  overflow: hidden;
  padding-left: 50px;
  height: 75px;
  top: 0;
  z-index: 1000;
}
/* line 123, ../sass/main.scss */
.header:after {
  content: '';
  display: block;
  clear: both;
}

/* line 130, ../sass/main.scss */
.header-init {
  margin-top: -35px;
}
/* line 132, ../sass/main.scss */
.header-init > div {
  display: inline-block;
  line-height: 70px;
  font-weight: bold;
}

/* line 139, ../sass/main.scss */
.header-scroll {
  margin-top: -15px;
  display: none;
}
/* line 142, ../sass/main.scss */
.header-scroll > span {
  line-height: 30px;
  font-size: 22px;
}

/* line 148, ../sass/main.scss */
.footer {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #C8C8C8;
  border-bottom: 3px solid #81BBE3;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #A8A8A8;
  background: #FFF;
}
/* line 159, ../sass/main.scss */
.footer > div {
  float: left;
  padding-left: 50px;
}
/* line 163, ../sass/main.scss */
.footer a {
  color: #81BBE3;
}
/* line 165, ../sass/main.scss */
.footer a:hover {
  text-decoration: dashed;
}

/* line 171, ../sass/main.scss */
.h35 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  height: 35px;
  -moz-animation: header-scroll-animations 0.5s ease-out;
  -webkit-animation: header-scroll-animations 0.5s ease-out;
  animation: header-scroll-animations 0.5s ease-out;
}

/* line 178, ../sass/main.scss */
.h75 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  height: 75px;
  -moz-animation: header-init-animations 0.5s ease-out;
  -webkit-animation: header-init-animations 0.5s ease-out;
  animation: header-init-animations 0.5s ease-out;
}

@-moz-keyframes header-init-animations {
  0% {
    height: 0;
  }
  100% {
    height: 75px;
  }
}
@-webkit-keyframes header-init-animations {
  0% {
    height: 0;
  }
  100% {
    height: 75px;
  }
}
@keyframes header-init-animations {
  0% {
    height: 0;
  }
  100% {
    height: 75px;
  }
}
@-moz-keyframes header-scroll-animations {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
@-webkit-keyframes header-scroll-animations {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
@keyframes header-scroll-animations {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
/* line 202, ../sass/main.scss */
.j {
  font-size: 60px;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  display: inline-block;
}

/* line 208, ../sass/main.scss */
.k {
  font-size: 50px;
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  -moz-animation: k-animations 0.8s ease-out 0.5s;
  -webkit-animation: k-animations 0.8s ease-out 0.5s;
  animation: k-animations 0.8s ease-out 0.5s;
  display: inline-block;
}
/* line 213, ../sass/main.scss */
.k:hover {
  -moz-animation: k-hover-animations 0.8s ease-out;
  -webkit-animation: k-hover-animations 0.8s ease-out;
  animation: k-hover-animations 0.8s ease-out;
}

@-moz-keyframes k-animations {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@-webkit-keyframes k-animations {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@keyframes k-animations {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@-moz-keyframes k-hover-animations {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@-webkit-keyframes k-hover-animations {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@keyframes k-hover-animations {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
/* line 260, ../sass/main.scss */
.header-title {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 12px;
  margin-left: 30px;
  color: #000000;
}
/* line 265, ../sass/main.scss */
.header-title:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
}

/* line 271, ../sass/main.scss */
.vertify {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

/* line 277, ../sass/main.scss */
.header-search {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 60%;
}
/* line 282, ../sass/main.scss */
.header-search input[type=text] {
  -moz-transition: border-color, width 0.3s ease-in;
  -o-transition: border-color, width 0.3s ease-in;
  -webkit-transition: border-color, width 0.3s ease-in;
  transition: border-color, width 0.3s ease-in;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #f1f1f1;
  width: 200px;
  height: 23px;
  display: inline-block;
  text-indent: 15px;
}
/* line 290, ../sass/main.scss */
.header-search input[type=text]:hover {
  -moz-transition: border-color 0.3s ease-in 0.1s;
  -o-transition: border-color 0.3s ease-in 0.1s;
  -webkit-transition: border-color 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: border-color 0.3s ease-in 0.1s;
  border: 1px solid #65ADDF;
}
/* line 294, ../sass/main.scss */
.header-search input[type=text]:focus {
  -moz-transition: width 0.3s ease-in 0.1s;
  -o-transition: width 0.3s ease-in 0.1s;
  -webkit-transition: width 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: width 0.3s ease-in 0.1s;
  width: 250px;
  border: 1px solid #65ADDF;
}
/* line 300, ../sass/main.scss */
.header-search button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #65ADDF;
  background: #ffffff;
  width: 30px;
  height: 20px;
  line-height: 20px;
}

/* line 310, ../sass/main.scss */
.nav {
  border-left: 1px solid #65ADDF;
  padding: 0;
}
/* line 313, ../sass/main.scss */
.nav li {
  margin: 0 0 12px 0;
  padding: 0 0 10px 13px;
  border-left: 3px solid #E7E7E7;
  font-size: 16px;
  cursor: pointer;
}
/* line 320, ../sass/main.scss */
.nav li.active {
  border-left: 3px solid #65ADDF;
}

/* line 325, ../sass/main.scss */
.nav-main-fix {
  position: fixed;
  top: 85px;
  left: 50px;
}

/* line 331, ../sass/main.scss */
.mt35 {
  margin-top: 35px;
  -moz-animation: nav-scroll-animations 0.5s ease-out;
  -webkit-animation: nav-scroll-animations 0.5s ease-out;
  animation: nav-scroll-animations 0.5s ease-out;
}

/* line 336, ../sass/main.scss */
.mt75 {
  margin-top: 75px;
  -moz-animation: nav-init-animations 0.5s ease-out;
  -webkit-animation: nav-init-animations 0.5s ease-out;
  animation: nav-init-animations 0.5s ease-out;
}

@-moz-keyframes nav-init-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 75px;
  }
}
@-webkit-keyframes nav-init-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 75px;
  }
}
@keyframes nav-init-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 75px;
  }
}
@-moz-keyframes nav-scroll-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 35px;
  }
}
@-webkit-keyframes nav-scroll-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 35px;
  }
}
@keyframes nav-scroll-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 35px;
  }
}
/* line 359, ../sass/main.scss */
.section-main {
  margin-left: 150px;
  margin-right: 370px;
}
/* line 362, ../sass/main.scss */
.section-main .section-view.view-active {
  min-height: 900px;
  visibility: hidden;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  position: relative;
  -moz-box-shadow: 0px 1px 3px #949494;
  -webkit-box-shadow: 0px 1px 3px #949494;
  box-shadow: 0px 1px 3px #949494;
  background: #FAFAFA;
}
/* line 371, ../sass/main.scss */
.section-main > div {
  overflow: hidden;
  position: relative;
}
/* line 375, ../sass/main.scss */
.section-main .section-a {
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #CDCDCD;
}
/* line 378, ../sass/main.scss */
.section-main .section-a:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
  text-decoration: underline;
}
/* line 384, ../sass/main.scss */
.section-main .section-view-list {
  padding: 10px;
}
/* line 386, ../sass/main.scss */
.section-main .section-view-list > li {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
/* line 390, ../sass/main.scss */
.section-main .section-view-list > li:after {
  content: '';
  display: block;
  clear: both;
}
/* line 395, ../sass/main.scss */
.section-main .section-view-list > li > h3 {
  padding-bottom: 10px;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #000000;
}
/* line 399, ../sass/main.scss */
.section-main .section-view-list > li > h3:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
}
/* line 404, ../sass/main.scss */
.section-main .section-view-list > li > img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border: 1px solid #D5D5D5;
  padding: 2px;
  background: #FAFAFA;
  position: absolute;
}
/* line 413, ../sass/main.scss */
.section-main .section-view-list > li > p {
  color: #888888;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 100;
  white-space: normal;
  word-break: break-all;
  padding-left: 105px;
  min-height: 96px;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 425, ../sass/main.scss */
.section-main .section-view-list > li .other {
  font-size: 12px;
  color: #CDCDCD;
}
/* line 428, ../sass/main.scss */
.section-main .section-view-list > li .other .comment, .section-main .section-view-list > li .other .publish, .section-main .section-view-list > li .other .read, .section-main .section-view-list > li .other .share {
  margin-right: 3px;
}
/* line 430, ../sass/main.scss */
.section-main .section-view-list > li .other .comment img, .section-main .section-view-list > li .other .publish img, .section-main .section-view-list > li .other .read img, .section-main .section-view-list > li .other .share img {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin-right: 3px;
}
/* line 437, ../sass/main.scss */
.section-main .section-view-list > li .other .share {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
/* line 443, ../sass/main.scss */
.section-main .section-view-list > li .other:hover .share {
  display: inline-block;
}

/* line 451, ../sass/main.scss */
.section-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 500px;
}

/* line 459, ../sass/main.scss */
.section-tags {
  position: absolute;
  width: 350px;
  top: 0;
  right: 0;
}
/* line 464, ../sass/main.scss */
.section-tags .section-tag, .section-tags .section-hot {
  margin: 10px;
}
/* line 467, ../sass/main.scss */
.section-tags .tag-detail {
  position: relative;
  height: 300px;
}
/* line 470, ../sass/main.scss */
.section-tags .tag-detail > a {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "微软雅黑";
}

/* line 484, ../sass/main.scss */
.nav-span {
  min-height: 26px;
  width: 3px;
  background: #65ADDF;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 1px;
}

/* line 494, ../sass/main.scss */
.bg-1, .bg-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 500, ../sass/main.scss */
.bg-1 {
  background: url("../img/boke/bg-clouds.png");
}

/* line 504, ../sass/main.scss */
.bg-2 {
  background: url("../img/boke/balloon.png") no-repeat;
  background-position-y: 85%;
}

/* line 509, ../sass/main.scss */
.main-select {
  position: absolute;
}
/* line 511, ../sass/main.scss */
.main-select .select-list {
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 20px;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}
/* line 517, ../sass/main.scss */
.main-select .select-list > ul {
  border: 1px solid #C0C0C0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 110px;
  padding-top: 2px;
  background: #FAFAFA;
}
/* line 523, ../sass/main.scss */
.main-select .select-list > ul > li {
  padding: 3px 6px;
  font-size: 12px;
  cursor: pointer;
}
/* line 527, ../sass/main.scss */
.main-select .select-list > ul > li:hover {
  background: #EDEDED;
}
/* line 534, ../sass/main.scss */
.main-select:hover .select-list {
  height: 250px;
}
/* line 538, ../sass/main.scss */
.main-select:hover .more-select > span:after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 2px;
}

/* line 546, ../sass/main.scss */
.more-select {
  border: 1px solid #C0C0C0;
  padding: 3px 28px 3px 6px;
  background: #FFFEFE;
  -moz-box-shadow: inset 1px 1px 2px #EAEAEA;
  -webkit-box-shadow: inset 1px 1px 2px #EAEAEA;
  box-shadow: inset 1px 1px 2px #EAEAEA;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 13px;
  width: 74px;
  position: absolute;
}
/* line 556, ../sass/main.scss */
.more-select > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 19px;
  background: #D3D3D3;
}
/* line 563, ../sass/main.scss */
.more-select > span:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  border-width: 5px;
  border-color: #fff transparent transparent;
  border-style: solid;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 576, ../sass/main.scss */
.lianjie_title {
  height: 40px;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: inset;
}
/* line 582, ../sass/main.scss */
.lianjie_title > ul > li {
  float: left;
  width: 120px;
  height: 20px;
}

/* line 591, ../sass/main.scss */
.lianjie_list > ul {
  padding: 20px 10px;
}
/* line 593, ../sass/main.scss */
.lianjie_list > ul > li {
  border-bottom: 1px dotted #D5D5D5;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
/* line 597, ../sass/main.scss */
.lianjie_list > ul > li > h3 {
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #000;
  font-size: 14px;
  display: inline-block;
}
/* line 602, ../sass/main.scss */
.lianjie_list > ul > li > h3:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
}

/* line 612, ../sass/main.scss */
.other {
  font-size: 12px;
  color: #CDCDCD;
}
/* line 615, ../sass/main.scss */
.other .comment, .other .publish, .other .read, .other .share {
  margin-right: 3px;
}
/* line 617, ../sass/main.scss */
.other .comment img, .other .publish img, .other .read img, .other .share img {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin-right: 3px;
}
/* line 624, ../sass/main.scss */
.other .share {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
/* line 630, ../sass/main.scss */
.other:hover .share {
  display: inline-block;
}

/* line 635, ../sass/main.scss */
article {
  color: #5c5c5c;
  word-break: break-all;
  line-height: 1.8;
  min-height: 350px;
  font-size: 14px;
}

/* line 643, ../sass/main.scss */
.hr {
  height: 0;
  border-top: 1px solid #D3D3D3;
  margin: 5px 0 15px 0;
}

/* line 649, ../sass/main.scss */
.lf {
  float: left;
}

/* line 653, ../sass/main.scss */
.rt {
  float: right;
}

/* line 657, ../sass/main.scss */
.wenzhang_detail {
  margin: 30px 15px;
}
/* line 660, ../sass/main.scss */
.wenzhang_detail h2 {
  text-align: center;
}
/* line 663, ../sass/main.scss */
.wenzhang_detail .detail_ather {
  float: initial;
  margin: 10px 0;
}
/* line 666, ../sass/main.scss */
.wenzhang_detail .detail_ather .share {
  float: initial;
  display: inline;
}
/* line 671, ../sass/main.scss */
.wenzhang_detail .detail_comment {
  margin: 5px 0 40px 0;
}
/* line 673, ../sass/main.scss */
.wenzhang_detail .detail_comment .title {
  padding: 0 0 2px 3px;
  border-left: 2px solid #65ADDF;
  font-size: 14px;
  color: #646464;
}
/* line 680, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li {
  margin: 25px 3px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #A8A8A8;
}
/* line 684, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li .visitor {
  padding: 0 0 10px 0;
  font-size: 12px;
  color: #A3A3A3;
}
/* line 688, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li .visitor:after {
  content: '';
  display: block;
  clear: both;
}
/* line 694, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li .comment {
  word-break: break-all;
  text-indent: .8em;
  font-size: 12px;
  color: #515151;
}
/* line 702, ../sass/main.scss */
.wenzhang_detail .detail_comment .no_comment {
  font-size: 12px;
  margin: 20px 0 50px 20px;
}
/* line 707, ../sass/main.scss */
.wenzhang_detail .publish_comment {
  margin: 5px 0 40px 0;
}
/* line 708, ../sass/main.scss */
.wenzhang_detail .publish_comment input[type=text], .wenzhang_detail .publish_comment textarea, .wenzhang_detail .publish_comment input[type=submit] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #adadad;
  resize: none;
}
/* line 714, ../sass/main.scss */
.wenzhang_detail .publish_comment .title {
  padding: 0 0 2px 3px;
  border-left: 2px solid #65ADDF;
  font-size: 14px;
  color: #646464;
}
/* line 720, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen, .wenzhang_detail .publish_comment .content {
  font-size: 12px;
  margin: 20px 3px;
  color: #323232;
}
/* line 724, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen textarea, .wenzhang_detail .publish_comment .content textarea {
  width: 310px;
  height: 50px;
}
/* line 728, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen input[type=text], .wenzhang_detail .publish_comment .content input[type=text] {
  height: 20px;
  line-height: 20px;
}
/* line 732, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen input[type=submit], .wenzhang_detail .publish_comment .content input[type=submit] {
  width: 60px;
  height: 20px;
  background: #ffffff;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  cursor: pointer;
}
/* line 738, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen input[type=submit]:hover, .wenzhang_detail .publish_comment .content input[type=submit]:hover {
  background: #e6e6e6;
}

/* line 746, ../sass/main.scss */
.introduce {
  margin: 15px;
}
/* line 748, ../sass/main.scss */
.introduce > ul {
  font-size: 12px;
  letter-spacing: 0.1em;
}
/* line 751, ../sass/main.scss */
.introduce > ul > li {
  margin: 20px;
}
/* line 756, ../sass/main.scss */
.introduce > ul span {
  color: #717171;
}

/* line 762, ../sass/main.scss */
.search_title {
  font-size: 12px;
  color: #999;
}
/* line 765, ../sass/main.scss */
.search_title .search_code {
  font-size: 14px;
  padding: 5px;
  color: #65ADDF;
}

