/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main.scss */
body, header, section, footer, p, div, span, ul, li {
  box-sizing: border-box;
}

/* line 8, ../sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1600px) {
  /* line 14, ../sass/main.scss */
  .main-left {
    width: 100% !important;
  }

  /* line 18, ../sass/main.scss */
  .main-right {
    width: 0 !important;
  }

  /* line 22, ../sass/main.scss */
  .header, .footer {
    width: 100% !important;
  }
}
@media screen and (max-width: 900px) {
  /* line 28, ../sass/main.scss */
  .section-main {
    width: 80% !important;
    float: right !important;
    margin-right: 10px !important;
  }

  /* line 33, ../sass/main.scss */
  .section-tags {
    display: none !important;
  }

  /* line 36, ../sass/main.scss */
  .header-search {
    right: 50px !important;
  }
}
@media screen {
  /* line 42, ../sass/main.scss */
  .main-left {
    width: 100%;
  }

  /* line 46, ../sass/main.scss */
  .main-right {
    width: 0;
  }
}
/* line 52, ../sass/main.scss */
body {
  background: #f1f1f1;
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
}

/* line 57, ../sass/main.scss */
input, button, textarea {
  outline: none;
}

/* line 61, ../sass/main.scss */
section {
  position: relative;
  width: 100%;
  margin: 20px 20px 20px 0;
}

/* line 67, ../sass/main.scss */
nav {
  position: fixed;
  left: 50px;
  margin-top: 70px;
}

/* line 73, ../sass/main.scss */
.inblock {
  display: inline-block;
}

/* line 77, ../sass/main.scss */
.main-left {
  width: 80%;
  float: left;
  position: relative;
}

/* line 83, ../sass/main.scss */
.main-right {
  width: 20%;
  background: #4da5e4;
  position: fixed;
  height: 100%;
  right: 0;
}

/* line 91, ../sass/main.scss */
.header-main {
  -moz-animation: header-init-animations 0.5s ease-out;
  -webkit-animation: header-init-animations 0.5s ease-out;
  animation: header-init-animations 0.5s ease-out;
  height: 75px;
}

/* line 96, ../sass/main.scss */
.header {
  -moz-animation: header-init-animations 0.5s ease-out;
  -webkit-animation: header-init-animations 0.5s ease-out;
  animation: header-init-animations 0.5s ease-out;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #ececec));
  background: -moz-linear-gradient(top, #fdfdfd, #ececec);
  background: -webkit-linear-gradient(top, #fdfdfd, #ececec);
  background: linear-gradient(to bottom, #fdfdfd, #ececec);
  border-top: 3px solid #65ADDF;
  border-bottom: 1px solid #D3D3D3;
  position: fixed;
  width: 80%;
  overflow: hidden;
  padding-left: 50px;
  height: 75px;
  top: 0;
  z-index: 1000;
}
/* line 108, ../sass/main.scss */
.header:after {
  content: '';
  display: block;
  clear: both;
}

/* line 115, ../sass/main.scss */
.header-init {
  margin-top: -35px;
}
/* line 117, ../sass/main.scss */
.header-init > div {
  display: inline-block;
  line-height: 70px;
  font-weight: bold;
}

/* line 124, ../sass/main.scss */
.header-scroll {
  margin-top: -15px;
  display: none;
}
/* line 127, ../sass/main.scss */
.header-scroll > span {
  line-height: 30px;
  font-size: 22px;
}

/* line 133, ../sass/main.scss */
.footer {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #DADADA;
  border-bottom: 3px solid #81BBE3;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #A8A8A8;
  background: #F6F6F6;
}
/* line 144, ../sass/main.scss */
.footer > div {
  float: left;
  padding-left: 50px;
}
/* line 148, ../sass/main.scss */
.footer a {
  color: #81BBE3;
}
/* line 150, ../sass/main.scss */
.footer a:hover {
  text-decoration: dashed;
}

/* line 156, ../sass/main.scss */
.h35 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  height: 35px;
  -moz-animation: header-scroll-animations 0.5s ease-out;
  -webkit-animation: header-scroll-animations 0.5s ease-out;
  animation: header-scroll-animations 0.5s ease-out;
}

/* line 163, ../sass/main.scss */
.h75 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  height: 75px;
  -moz-animation: header-init-animations 0.5s ease-out;
  -webkit-animation: header-init-animations 0.5s ease-out;
  animation: header-init-animations 0.5s ease-out;
}

@-moz-keyframes header-init-animations {
  0% {
    height: 0;
  }
  100% {
    height: 75px;
  }
}
@-webkit-keyframes header-init-animations {
  0% {
    height: 0;
  }
  100% {
    height: 75px;
  }
}
@keyframes header-init-animations {
  0% {
    height: 0;
  }
  100% {
    height: 75px;
  }
}
@-moz-keyframes header-scroll-animations {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
@-webkit-keyframes header-scroll-animations {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
@keyframes header-scroll-animations {
  0% {
    height: 0;
  }
  100% {
    height: 35px;
  }
}
/* line 187, ../sass/main.scss */
.j {
  font-size: 60px;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  display: inline-block;
}

/* line 193, ../sass/main.scss */
.k {
  font-size: 50px;
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  -moz-animation: k-animations 0.8s ease-out 0.5s;
  -webkit-animation: k-animations 0.8s ease-out 0.5s;
  animation: k-animations 0.8s ease-out 0.5s;
  display: inline-block;
}
/* line 198, ../sass/main.scss */
.k:hover {
  -moz-animation: k-hover-animations 0.8s ease-out;
  -webkit-animation: k-hover-animations 0.8s ease-out;
  animation: k-hover-animations 0.8s ease-out;
}

@-moz-keyframes k-animations {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@-webkit-keyframes k-animations {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@keyframes k-animations {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@-moz-keyframes k-hover-animations {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@-webkit-keyframes k-hover-animations {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
@keyframes k-hover-animations {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  40% {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  60% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
}
/* line 245, ../sass/main.scss */
.header-title {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 12px;
  margin-left: 30px;
  color: #000000;
}
/* line 250, ../sass/main.scss */
.header-title:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
}

/* line 256, ../sass/main.scss */
.vertify {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

/* line 262, ../sass/main.scss */
.header-search {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 60%;
}
/* line 267, ../sass/main.scss */
.header-search input[type=text] {
  -moz-transition: border-color, width 0.3s ease-in;
  -o-transition: border-color, width 0.3s ease-in;
  -webkit-transition: border-color, width 0.3s ease-in;
  transition: border-color, width 0.3s ease-in;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #f1f1f1;
  width: 200px;
  height: 23px;
  display: inline-block;
  text-indent: 15px;
}
/* line 275, ../sass/main.scss */
.header-search input[type=text]:hover {
  -moz-transition: border-color 0.3s ease-in 0.1s;
  -o-transition: border-color 0.3s ease-in 0.1s;
  -webkit-transition: border-color 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: border-color 0.3s ease-in 0.1s;
  border: 1px solid #65ADDF;
}
/* line 279, ../sass/main.scss */
.header-search input[type=text]:focus {
  -moz-transition: width 0.3s ease-in 0.1s;
  -o-transition: width 0.3s ease-in 0.1s;
  -webkit-transition: width 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: width 0.3s ease-in 0.1s;
  width: 250px;
  border: 1px solid #65ADDF;
}
/* line 285, ../sass/main.scss */
.header-search button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #65ADDF;
  background: #ffffff;
  width: 30px;
  height: 20px;
  line-height: 20px;
}

/* line 295, ../sass/main.scss */
.nav {
  border-left: 1px solid #65ADDF;
  padding: 0;
}
/* line 298, ../sass/main.scss */
.nav li {
  margin: 0 0 12px 0;
  padding: 0 0 10px 13px;
  border-left: 3px solid #F1F1F1;
  font-size: 16px;
  cursor: pointer;
}
/* line 305, ../sass/main.scss */
.nav li.active {
  border-left: 3px solid #65ADDF;
}

/* line 310, ../sass/main.scss */
.nav-main-fix {
  position: fixed;
  top: 85px;
  left: 50px;
}

/* line 316, ../sass/main.scss */
.mt35 {
  margin-top: 35px;
  -moz-animation: nav-scroll-animations 0.5s ease-out;
  -webkit-animation: nav-scroll-animations 0.5s ease-out;
  animation: nav-scroll-animations 0.5s ease-out;
}

/* line 321, ../sass/main.scss */
.mt75 {
  margin-top: 75px;
  -moz-animation: nav-init-animations 0.5s ease-out;
  -webkit-animation: nav-init-animations 0.5s ease-out;
  animation: nav-init-animations 0.5s ease-out;
}

@-moz-keyframes nav-init-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 75px;
  }
}
@-webkit-keyframes nav-init-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 75px;
  }
}
@keyframes nav-init-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 75px;
  }
}
@-moz-keyframes nav-scroll-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 35px;
  }
}
@-webkit-keyframes nav-scroll-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 35px;
  }
}
@keyframes nav-scroll-animations {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 35px;
  }
}
/* line 344, ../sass/main.scss */
.section-main {
  margin-left: 150px;
  margin-right: 370px;
}
/* line 347, ../sass/main.scss */
.section-main .section-view.view-active {
  min-height: 900px;
  visibility: hidden;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  position: relative;
  -moz-box-shadow: 0px 1px 3px #b8b8b8;
  -webkit-box-shadow: 0px 1px 3px #b8b8b8;
  box-shadow: 0px 1px 3px #b8b8b8;
  background: #FAFAFA;
}
/* line 356, ../sass/main.scss */
.section-main > div {
  overflow: hidden;
  position: relative;
}
/* line 360, ../sass/main.scss */
.section-main .section-a {
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #CDCDCD;
}
/* line 363, ../sass/main.scss */
.section-main .section-a:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
  text-decoration: underline;
}
/* line 369, ../sass/main.scss */
.section-main .section-view-list {
  padding: 10px;
}
/* line 371, ../sass/main.scss */
.section-main .section-view-list > li {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
/* line 375, ../sass/main.scss */
.section-main .section-view-list > li:after {
  content: '';
  display: block;
  clear: both;
}
/* line 380, ../sass/main.scss */
.section-main .section-view-list > li > h3 {
  padding-bottom: 10px;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #000000;
}
/* line 384, ../sass/main.scss */
.section-main .section-view-list > li > h3:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
}
/* line 389, ../sass/main.scss */
.section-main .section-view-list > li > img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border: 1px solid #D5D5D5;
  padding: 2px;
  background: #FAFAFA;
  position: absolute;
}
/* line 398, ../sass/main.scss */
.section-main .section-view-list > li > p {
  color: #888888;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 100;
  white-space: normal;
  word-break: break-all;
  padding-left: 105px;
  min-height: 96px;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 411, ../sass/main.scss */
.section-main .section-view-list > li .other {
  font-size: 12px;
  color: #CDCDCD;
  font-family: monospace;
}
/* line 415, ../sass/main.scss */
.section-main .section-view-list > li .other .comment, .section-main .section-view-list > li .other .publish, .section-main .section-view-list > li .other .read, .section-main .section-view-list > li .other .share {
  margin-right: 3px;
}
/* line 417, ../sass/main.scss */
.section-main .section-view-list > li .other .comment img, .section-main .section-view-list > li .other .publish img, .section-main .section-view-list > li .other .read img, .section-main .section-view-list > li .other .share img {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin-right: 3px;
}
/* line 424, ../sass/main.scss */
.section-main .section-view-list > li .other .share {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
/* line 430, ../sass/main.scss */
.section-main .section-view-list > li .other:hover .share {
  display: inline-block;
}

/* line 438, ../sass/main.scss */
.section-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 500px;
}

/* line 446, ../sass/main.scss */
.section-tags {
  position: absolute;
  min-width: 350px;
  top: 0;
  right: 0;
}
/* line 451, ../sass/main.scss */
.section-tags .section-tag, .section-tags .section-hot {
  margin: 10px;
}

/* line 456, ../sass/main.scss */
.nav-span {
  min-height: 26px;
  width: 3px;
  background: #65ADDF;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 1px;
}

/* line 466, ../sass/main.scss */
.bg-1, .bg-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 472, ../sass/main.scss */
.bg-1 {
  background: url("../img/boke/bg-clouds.png");
}

/* line 476, ../sass/main.scss */
.bg-2 {
  background: url("../img/boke/balloon.png") no-repeat;
  background-position-y: 85%;
}

/* line 481, ../sass/main.scss */
.main-select {
  position: absolute;
}
/* line 483, ../sass/main.scss */
.main-select .select-list {
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 20px;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}
/* line 489, ../sass/main.scss */
.main-select .select-list > ul {
  border: 1px solid #C0C0C0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 110px;
  padding-top: 2px;
  background: #FAFAFA;
}
/* line 495, ../sass/main.scss */
.main-select .select-list > ul > li {
  padding: 3px 6px;
  font-size: 12px;
  cursor: pointer;
}
/* line 499, ../sass/main.scss */
.main-select .select-list > ul > li:hover {
  background: #EDEDED;
}
/* line 506, ../sass/main.scss */
.main-select:hover .select-list {
  height: 250px;
}
/* line 510, ../sass/main.scss */
.main-select:hover .more-select > span:after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 2px;
}

/* line 518, ../sass/main.scss */
.more-select {
  border: 1px solid #C0C0C0;
  padding: 3px 28px 3px 6px;
  background: #FFFEFE;
  -moz-box-shadow: inset 1px 1px 2px #EAEAEA;
  -webkit-box-shadow: inset 1px 1px 2px #EAEAEA;
  box-shadow: inset 1px 1px 2px #EAEAEA;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 13px;
  width: 74px;
  position: absolute;
}
/* line 528, ../sass/main.scss */
.more-select > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 19px;
  background: #D3D3D3;
}
/* line 535, ../sass/main.scss */
.more-select > span:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  border-width: 5px;
  border-color: #fff transparent transparent;
  border-style: solid;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* line 548, ../sass/main.scss */
.lianjie_title {
  height: 40px;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: inset;
}
/* line 554, ../sass/main.scss */
.lianjie_title > ul > li {
  float: left;
  width: 120px;
  height: 20px;
}

/* line 563, ../sass/main.scss */
.lianjie_list > ul {
  padding: 20px 10px;
}
/* line 565, ../sass/main.scss */
.lianjie_list > ul > li {
  border-bottom: 1px dotted #D5D5D5;
  padding-bottom: 6px;
  margin-bottom: 20px;
}
/* line 569, ../sass/main.scss */
.lianjie_list > ul > li > h3 {
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #000;
  font-size: 14px;
  display: inline-block;
}
/* line 574, ../sass/main.scss */
.lianjie_list > ul > li > h3:hover {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #65ADDF;
}

/* line 584, ../sass/main.scss */
.other {
  font-size: 12px;
  color: #CDCDCD;
  font-family: monospace;
}
/* line 588, ../sass/main.scss */
.other .comment, .other .publish, .other .read, .other .share {
  margin-right: 3px;
}
/* line 590, ../sass/main.scss */
.other .comment img, .other .publish img, .other .read img, .other .share img {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin-right: 3px;
}
/* line 597, ../sass/main.scss */
.other .share {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
/* line 603, ../sass/main.scss */
.other:hover .share {
  display: inline-block;
}

/* line 608, ../sass/main.scss */
article {
  color: #8B8B8B;
  word-break: break-all;
  line-height: 1.5;
  min-height: 350px;
}

/* line 615, ../sass/main.scss */
.hr {
  height: 0;
  border-top: 1px solid #D3D3D3;
  margin: 5px 0 15px 0;
}

/* line 621, ../sass/main.scss */
.lf {
  float: left;
}

/* line 625, ../sass/main.scss */
.rt {
  float: right;
}

/* line 629, ../sass/main.scss */
.wenzhang_detail {
  margin: 15px;
}
/* line 631, ../sass/main.scss */
.wenzhang_detail h2 {
  text-align: center;
}
/* line 634, ../sass/main.scss */
.wenzhang_detail .detail_ather {
  float: initial;
  margin: 10px 0;
}
/* line 637, ../sass/main.scss */
.wenzhang_detail .detail_ather .share {
  float: initial;
  display: inline;
}
/* line 642, ../sass/main.scss */
.wenzhang_detail .detail_comment {
  margin: 5px 0 40px 0;
}
/* line 644, ../sass/main.scss */
.wenzhang_detail .detail_comment .title {
  padding: 0 0 2px 3px;
  border-left: 2px solid #65ADDF;
  font-size: 14px;
  color: #B6B6B6;
}
/* line 651, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li {
  margin: 15px 3px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #d3d3d3;
}
/* line 655, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li .visitor {
  padding: 0 0 5px 0;
  font-size: 12px;
  color: #CACACA;
  font-family: monospace;
}
/* line 660, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li .visitor:after {
  content: '';
  display: block;
  clear: both;
}
/* line 666, ../sass/main.scss */
.wenzhang_detail .detail_comment .content li .comment {
  word-break: break-all;
  text-indent: .8em;
  font-size: 12px;
  color: #888;
  font-family: cursive;
}
/* line 676, ../sass/main.scss */
.wenzhang_detail .publish_comment {
  margin: 5px 0 40px 0;
}
/* line 677, ../sass/main.scss */
.wenzhang_detail .publish_comment input[type=text], .wenzhang_detail .publish_comment textarea, .wenzhang_detail .publish_comment input[type=submit] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  resize: none;
}
/* line 683, ../sass/main.scss */
.wenzhang_detail .publish_comment .title {
  padding: 0 0 2px 3px;
  border-left: 2px solid #65ADDF;
  font-size: 14px;
  color: #B6B6B6;
}
/* line 689, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen, .wenzhang_detail .publish_comment .content {
  font-size: 12px;
  margin: 15px 3px;
  color: #323232;
}
/* line 693, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen textarea, .wenzhang_detail .publish_comment .content textarea {
  width: 310px;
  height: 50px;
}
/* line 697, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen input[type=text], .wenzhang_detail .publish_comment .content input[type=text] {
  height: 20px;
  line-height: 20px;
}
/* line 701, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen input[type=submit], .wenzhang_detail .publish_comment .content input[type=submit] {
  width: 60px;
  height: 20px;
  background: #ffffff;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  cursor: pointer;
}
/* line 707, ../sass/main.scss */
.wenzhang_detail .publish_comment .pen input[type=submit]:hover, .wenzhang_detail .publish_comment .content input[type=submit]:hover {
  background: #e6e6e6;
}
